{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
    
	<form class="form-horizontal" method="post" action="{% url 'users:adminupdate' %}">
		{% csrf_token %}
		<fieldset>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}
			
		    {% if confirm_message %}
		    <h4>{{ confirm_message }}</h4>
		    {% endif %}
    
{% if page == '1' %}

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="users">Select user</label>
			  <div class="col-md-4">
				<select id="users" name="users" class="form-control" required>
				  {% for u in userlist %}
				  <option value="{{ u }}">{{ u }}</option>
				  {% endfor %}
				</select>
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="action"></label>
			  <div class="col-md-4">
				<button id="action" name="action" value="next" class="btn btn-primary">Next</button>
			  </div>
			</div>
	
{% elif page == '2' %}
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="account">Username</label>  
			  <div class="col-md-4">
			  <input id="account" name="account" type="text" class="form-control input-md" disabled value="{{ username }}">
				
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email*</label>  
			  <div class="col-md-4">
			  <input id="email" name="email" type="email" placeholder="email" class="form-control input-md" required value="{{ email }}">
				
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="firstname">First name</label>  
			  <div class="col-md-4">
			  <input id="firstname" name="firstname" type="text" placeholder="first name" class="form-control input-md" maxlength="30" value="{{ firstname }}">
				
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="lastname">Last name</label>  
			  <div class="col-md-4">
			  <input id="lastname" name="lastname" type="text" placeholder="last name" class="form-control input-md" maxlength="30" value="{{ lastname }}">
				
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group" align="right">
			  <label class="col-md-4 control-label" for="action"></label>
			  <div class="col-md-4">
				<button id="action" name="action" value="activate" class="btn btn-success" {% if enabled %}disabled{% endif %}>Activate account</button>
				<button id="action" name="action" value="delete" class="btn btn-danger">Delete account</button>
				<button id="action" name="action" value="update" class="btn btn-primary">Update</button>
			  </div>
			</div>
			
			<input type="hidden" id="username" name="username" value="{{ username }}" />
		
{% endif %}

		</fieldset>
	</form>
		
{% endblock %}