{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
    
	<form class="form-horizontal" method="post" action="{% url 'users:password' %}">
		{% csrf_token %}
		<fieldset>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}
			
			<!-- Form Name -->
			<legend>Change password</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username</label>  
			  <div class="col-md-4">
			  <input id="username" name="username" type="text" placeholder="username"
					class="form-control input-md" autofocus disabled value="{{ username }}">
				
			  </div>
			</div>

{% if user and user.is_authenticated %}
			<!-- Old password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Old password*</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required>
				
			  </div>
			</div>
{% endif %}

			<!-- New password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newpassword1">New password*</label>
			  <div class="col-md-4">
				<input id="newpassword1" name="newpassword1" type="password" placeholder="password" class="form-control input-md" pattern=".{8,}" required>
				<span class="help-block">Must be at least 8 characters long</span> 
				
			  </div>
			</div>

			<!-- Confirm Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="newpassword2">Confirm Password*</label>
			  <div class="col-md-4">
				<input id="newpassword2" name="newpassword2" type="password" placeholder="password" class="form-control input-md" required>
				
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group" align="right">
			  <label class="col-md-4 control-label" for="submit"></label>
			  <div class="col-md-4">
				<button id="submit" name="submit" type="submit" class="btn btn-primary">Change</button>
			  </div>
			</div>
			
{% if key %}
			<input type="hidden" id="key" name="key" value="{{ key }}" />
{% endif %}

		</fieldset>
	</form>
		
{% endblock %}