{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
    
    <!-- User http://bootsnipp.com/forms?version=3 to generate form to paste here -->
	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
			<legend>Buttons</legend>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="levels">This is a button</label>
			  <div class="col-md-4">
				<a class="btn btn-lg btn-danger" href="#" role="button">GO!</a>
			  </div>
			</div>

		</fieldset>
	</form>

        
{% endblock %}